.product {
  background-color: #f7f8fa;
  height: 550px;

  h3 {
    color: #ff6e0f;
    font-weight: 900;
    margin-bottom: 20px;
    text-align: center;
  }

  p {
    color: #4c5b64;
    line-height: 26px;
    text-align: justify;
  }

  .description-product {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    label {
      color: #4c5b64;
      margin: 0;
    }

    input {
      width: 100px;
    }

    .details-product {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;

      p {
        font-size: 15px;
        font-weight: 900;
        text-align: center;
      }

      ul {
        align-items: center;
        display: flex;
        justify-content: center;
        list-style: none;

        li {
          color: #4c5b64;
          font-weight: 700;

          button {
            border-radius: 10px;
            height: 20px;
            margin: 5px;
            width: 20px;
          }
        }
      }
    }
    .product-pricing {
      align-items: center;
      display: flex;
      justify-content: center;

      h3 {
        font-weight: normal;
        margin: 0 20px;
      }

      .btn-orange {
        color: #fff;
        font-size: 20px;
        margin: 0 20px; 
      }
    }

    @include respond-to (xs) {
      width: 100%;
    }
  }
  @include respond-to (xs) {
      height: 100%;
  }
}

.product-flex {
  display: flex;
  flex-wrap: wrap;
}

.single-product{

  .slick-list, .draggable {
    width: 80%
  }

  .slick-track {
    width: 80%;
  }
  
  .slick-dots {
    width: 80%;
    bottom: 0px;
    li {
      width: auto;

      button {
        height: 10px;
        background: rgb(255, 255, 255);

        &:before {
          background-color: #fff;
          content: " ";
          height: 10px;
        }   
      }
    } 
  }
}
.slick-dots li.slick-active button:before {
  background-color: #ff6e0f;
  height: 10px;
}

.carousel {
  margin-top: 30px;
  width: 50%;

  @include respond-to (xs) {
    width: 100%;
  }
}
.img-product {
  background-size: cover;
  height: 450px;
  width: 80%;
}

.frecuent{
  background-color: #f7f8fa;
  height: 500px;

  p {
    color: #4c5b64;
    font-size: 15px;
  }
  
  h3 {
    color: #ff6e0f;
    font-weight: 900;
    text-align: center;

    }

  // .item {
  //   width: calc(100%/3);
  //   float: left;
  //   overflow: hidden;
  //   margin-top: 20px;
  //   position: relative;
    
  //   .img-item {
  //     background-size: cover;
  //     width: 80%;
  //     height: 300px;
  //     display: block;
  //     transition: all 0.5s ease;
  //     -webkit-filter: grayscale(85%);
  //     filter: grayscale(85%);
  //     transition: all 0.3s ease;
  //   }

  //   .text1 {
  //     position: absolute;
  //     bottom: 5%;
  //     left: 20px;
  //     color: #ffffff;
  //     transition: all 0.5s ease;
  //     cursor: pointer;
      
  //     p {
  //       text-align: left;
  //       opacity: 0;
  //     }

  //     h3 {
  //       text-align: start;
  //     }
  //   }

  // }

  // .e1:hover .img-item {
  //   -webkit-filter: grayscale(0%);
  //   filter: grayscale(0%);
  // }
  // .e1:hover .text1 {
  //   position: absolute;
  //   bottom: 10%;
  // }
  // .e1:hover p {
  //   opacity: 1;
  // }
}