%footer#contact
  .container-shopy.contact
    %div
      %a{:href => "/#"}
        %img{:style => "width: 150px;", :src => "assets/img/logo.jpg"}/
        %p Shopy c 2015. your copy right here
    %ul
      %li about us
      %li contact us
      %li support
    %ul
      %li our feed
      %li terms and conditions
      %li our privacy
    %ul
      %li join us
      %li live support
    .contact-payment
      %h3 Payment Methods
      %span
        %i.fab.fa-cc-mastercard{"aria-hidden" => "true"}
        %i.fab.fa-cc-paypal{"aria-hidden" => "true"}
        %i.fab.fa-cc-visa{"aria-hidden" => "true"}