!!!
%html
	%head 
		= render 'app/layouts/head'
		%script{:src => "assets/js/wow.js", :type => "text/javascript"}
	:javascript
		wow = new WOW(
				{
					animateClass: 'animated',
					offset:       100,
					callback:     function(box) {
						console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
					}
				}
			);
			wow.init();
	%body
		%header
			= render 'app/front/partials/navbar'
			.single-item#home
				.img-single{:style => "background-image: url(assets/img/bg-1.jpg); background-size: cover; height: 600px;"}
					%div
						%h3 FULL WINTER KIT
						%h4 Half Jacket + Skiny + Trousers + Boot leather
						%p
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt.
						%h4
							Price: 120$
							%span
								%a{:href => "#"}
									%i.fa.fa-shopping-cart{"aria-hidden" => "true"}
									Order Now
				.img-single{:style => "background-image: url(assets/img/bg-1.jpg); background-size: cover; height: 600px;"}
					%div
						/ CLASES PARA IDENTIFICAR
						%h3 FULL WINTER KIT
						%h4 Half Jacket + Skiny + Trousers + Boot leather
						%p
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt.
						%h4
							Price: 120$
							%span
								%a{:href => "#"}
									%i.fa.fa-shopping-cart{"aria-hidden" => "true"}
									Order Now
				%div
					.img-single{:style => "background-image: url(assets/img/bg-1.jpg); background-size: cover; height: 600px;"}
						%div
							%h3 FULL WINTER KIT
							%h4 Half Jacket + Skiny + Trousers + Boot leather
							%p
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt.
							%h4
								Price: 120$
								%span
									%a{:href => "#"}
										%i.fa.fa-shopping-cart{"aria-hidden" => "true"}
										Order Now
		%section#products.products
			.container-shopy
				%h3
					%span NEW
					ARRIVALS
				%p.text-center.mt-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
				.content-card
					=
					- 4.times do
						.card.item-card.wow.bounceInRight{"data-wow-duration" => "1.5s", :style => "width: 18rem;"}
							= link_to app_product_path do
								%img.card-img-top{:alt => "Card image cap", :src => "assets/img/product-2.jpg"}/
								.card-body.card-body-products
									= link_to app_product_path do
										%p.card-text Rebok Track Jacket
									%h3 100$
									.info-products
										%p Size: s-m-l-xl
										%ul
											%li{:style => "background-color: #e94850"}
											%li{:style => "background-color: #44525f"}
											%li{:style => "background-color: #43c0fd"}
											%li{:style => "background-color: #30db79"}
										%span
											%i.fa.fa-globe{"aria-hidden" => "true"}
											%i.fa.fa-shopping-cart{"aria-hidden" => "true"}
											%i.fa.fa-heart{"aria-hidden" => "true"}
				.products-more-view
					%ul
						%li.mr-1
						%li.mr-1
						%li.mr-1
				.content-products
					.products-items-1
						.container-diamond
							.content-diamond
							.products-diamond
								.text-diamond
									%p 
										Sale
										%br/
										%span 
											50%
						%div
							%h4 FULL WINTER KIT
							%p Half Jacket + Skiny + Trousers + Boot leather
						%div
							%h5
								%i.fa.fa-cart-plus{"aria-hidden" => "true"}>
								120$
						%div
					.products-items-2
						%p
							adv
							%span.ml-1 area
						%h4 470x100
		%section#hot-deals.hot-deals
			.container-shopy
				%h3
					%span BEST
					SALES
				%p.text-center.mt-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
				.content-products
					.card.item-card-deals.wow.bounceInRight{"data-wow-duration" => "1s", :style => "width: 18rem;"}
						%img.card-img-top{:alt => "Card image cap", :src => "assets/img/product-4.jpg"}/
						.card-body.card-body-deals
							%h4.card-text Rebok Track Jacket
							.card-deals-flex  
								%span.star
									%i.fa.fa-star{"aria-hidden" => "true"}
									%i.fa.fa-star{"aria-hidden" => "true"}
									%i.fa.fa-star{"aria-hidden" => "true"}
									%i.fa.fa-star{"aria-hidden" => "true"}
								%h5 100$
							%span.card-hover
								%a{:href => "#"}
									%i.fa.fa-shopping-cart.mr-2{"aria-hidden" => "true"}
									Add to cart
					.card.item-card-deals.wow.bounceInRight{"data-wow-duration" => "1.5s", :style => "width: 18rem;"}
						%img.card-img-top{:alt => "Card image cap", :src => "assets/img/product-4.jpg"}/
						.card-body.card-body-deals
							%h4.card-text Rebok Track Jacket
							.card-deals-flex  
								%span.star
									%i.fa.fa-star{"aria-hidden" => "true"}
									%i.fa.fa-star{"aria-hidden" => "true"}
									%i.fa.fa-star{"aria-hidden" => "true"}
									%i.fa.fa-star{"aria-hidden" => "true"}
								%h5 100$
							%span.card-hover
								%a{:href => "#"}
									%i.fa.fa-shopping-cart.mr-2{"aria-hidden" => "true"}
									Add to cart
					.card.item-card-deals.wow.bounceInRight{"data-wow-duration" => "2s", :style => "width: 18rem;"}
						%img.card-img-top{:alt => "Card image cap", :src => "assets/img/product-4.jpg"}/
						.card-body.card-body-deals
							%h4.card-text Rebok Track Jacket
							.card-deals-flex  
								%span.star
									%i.fa.fa-star{"aria-hidden" => "true"}
									%i.fa.fa-star{"aria-hidden" => "true"}
									%i.fa.fa-star{"aria-hidden" => "true"}
									%i.fa.fa-star{"aria-hidden" => "true", :style => "color: #ebebec"}
								%h5 100$
							%span.card-hover
								%a{:href => "#"}
									%i.fa.fa-shopping-cart.mr-2{"aria-hidden" => "true"}
									Add to cart
		%section#about.about
			.container-shopy
				.content-about
					%div
						%h3
							NEWS
							%br/
							LETTER
						%p join us now to get all news and special offers
					%div
						%form
							%i.fa.fa-envelope.mr-1{"aria-hidden" => "true"}
							%input.about-email{:name => "email", :placeholder => "type your email here", :type => "email"}/
							%button.btn-orange
								%a{:href => "#"} join us
		%footer#contact
			.container-shopy.contact
				%div
					%a{:href => "#home"}
						%img{:style => "width: 150px;", :src => "assets/img/logo.jpg"}/
					%p Shopy c 2015. your copy right here
				%ul
					%li about us
					%li contact us
					%li support
				%ul
					%li our feed
					%li terms and conditions
					%li our privacy
				%ul
					%li join us
					%li live support
				.contact-payment
					%h3 Payment Methods
					%span
						%i.fab.fa-cc-mastercard{"aria-hidden" => "true"}
						%i.fab.fa-cc-paypal{"aria-hidden" => "true"}
						%i.fab.fa-cc-visa{"aria-hidden" => "true"}
		%script{:src => "assets/js/jquery-3.2.1.min.js"}
		%script{:src => "assets/js/bootstrap.min.js", :type => "text/javascript"}
		%script{:src => "https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js", :type => "text/javascript"}
		%script{:src => "assets/js/main.js", :type => "text/javascript"}
